*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#card{
    width: 250px;
    margin: auto;
    border: solid 3px black;
    border-radius: 10px;
    display: inline-block;
}

#card img{
    width: 100%;
}